title = "About"
url = "/about-us"
layout = "about-us"
description = "About us page"
meta_description = "Free restaurant theme by templatemo, converted for OctoberCMS"
is_hidden = 0
==
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Nosotros</h2>
                    <span>Inicio / <a href="{{ 'samples/about-us'|page }}">Nosotros</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="timeline-post">
    {% partial "about/intro" %}
</div>



<div id="testimonails">
    {% partial "about/feedback" %}
</div>