ul.withoutBullet {
    list-style-type: none;
  }

.orange{
    color: #f78e21;
}

.mb-5{
 margin-bottom: 10px;
}

.mt-5{
    margin-top: 10px;
}

.card{
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(212,212,212,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(212,212,212,1);
    box-shadow: 10px 10px 5px 0px rgba(212,212,212,1);
    height: 400px;
    padding: 5%;
}



.card .description{
    padding: 0 100px;
}

 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    .card .description{
        padding: 0 10px;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
    .card .description{
        padding: 0 20px;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .card .description{
        padding: 0 30px;
    }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .card .description{
        padding: 0 50px;
    }
}
 