

<h1>Contáctanos</h1>

<form role="form" data-request="onSend" class="send-message">
    <div class="row mb-5">
        <div class="name text col-md-12">
            <input type="text" name="name" id="name" placeholder="Nombre" class="form-control" required="required">
            {{ errors.first('name')}}
        </div>
    </div>
    <div class="row mb-5">
        <div class="email text col-md-12">
            <input type="text" name="email" id="email" placeholder="Email" class="form-control" required="required">
            {{ errors.first('email')}}
        </div>
    </div>   
    <div class=" row "> 
        <div class="subject text col-md-12">
            <input type="text" name="subject" id="subject" placeholder="Asunto" class="form-control">
            {{ errors.first('subject')}}
        </div>
    </div>
    <div class="row">        
    <div class="text col-md-12">
        <textarea name="message" placeholder="Mensaje" class="form-control" required="required"></textarea>
        {{ errors.first('message')}}
    </div>   
    </div>                              
    <div class="send">
        <button type="submit" name="submit" required="required">Enviar</button>
    </div>
</form>