<head>
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="keywords" content="{{ this.page.meta_keywords }}">
<meta name="author" content="{{ this.page.meta_author }}">
<meta name="viewport" content="width=device-width">
<title>{{ this.page.title }} - {{ this.theme.site_name }}</title>
        
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

{% styles %}
<link href="{{ [
            'assets/css/bootstrap.css',
            'assets/css/font-awesome.css',
            'assets/css/templatemo_style.css',
            'assets/css/templatemo_misc.css',
            'assets/css/flexslider.css',
            'assets/css/testimonails-slider',
            'assets/css/custom.css',
		]|theme }}" rel="stylesheet">
</head>			