==
{# Note: Only one levels of sublinks are supported by Bootstrap 3 #}
{% set
    links = {
	    'home':      ['home', 'Home'],
		'about':     ['nosotros', 'Nosotros'],
		'products':  ['platillos', 'Platillos'],
        'contact':   ['contacto', 'Contacto'],
    }
%}

{% macro render_menu(links) %}
    {% for code, link in links %}
        <li class="{{ code == currentPage ? 'active' }} {{ link.sublinks ? 'dropdown' }}">
            <a
                href="{{ link.sublinks ? '#' : (link.page ?: link[0])|page }}"
                {% if link.sublinks %}data-toggle="dropdown"{% endif %}
                class="{{ link.sublinks ? 'dropdown-toggle' }}"
            >
                {{ link.name ?: link[1] }}
                {% if link.sublinks %}<span class="caret"></span>{% endif %}
            </a>
            {% if link.sublinks %}
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    {{ _self.render_menu(link.sublinks) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% import _self as nav %}

<div id="main-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a href="{{ 'home'|page }}"><img src="{{ 'assets/images/logotipo.PNG'|theme }}" width="100" title="La victoria" alt="Grill Website Template" ></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="main-menu">
                    <ul>
                        {{ nav.render_menu(links) }}
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <!--<div class="search-box">  
                    <form role="form" name="search_form" method="get" class="search_form">
                        <input id="search" type="text" />
                        <input type="submit" id="search-button" />
                    </form>
                </div>
                -->
            </div>
        </div>
    </div>
</div>