<div class="top-footer">
    <div class="row">
        <div class="col-md-6">
            <div class="social-bottom">
                <span>Síguenos en nustras redes :</span>
                    <ul>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-rss"></a></li>
                    </ul>
            </div>
        </div>
    </div>
</div>
