[builderList Testimonios]
modelClass = "MiguelVillegas\Services\Models\Testimonial"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "author"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = Testimonios.records %}
{% set displayColumn = Testimonios.displayColumn %}
{% set noRecordsMessage = Testimonios.noRecordsMessage %}
{% set detailsPage = Testimonios.detailsPage %}
{% set detailsKeyColumn = Testimonios.detailsKeyColumn %}
{% set detailsUrlParameter = Testimonios.detailsUrlParameter %}

<div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="testimonails-slider">
               <ul class="slides">
                    {% for record in records %}
                                   <li>
                                        <div class="testimonails-content">
                                            <p>{{ record.author }}</p>
                                            <h6><blockquote>{{ record.comment|raw }}</blockquote> </h6>
                                        </div>
                                    </li>
                    {% else %}
                        <li class="no-data">{{ noRecordsMessage }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}