==
<div id="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-account">
                    <a href="{{ 'home'|page }}">Home</a>
                    <a href="#">Miguel villegas</a>
                </div>
            </div>
            <div class="col-md-6">
                <!--<div class="cart-info">
                    <i class="fa fa-shopping-cart"></i>
                    (<a href="#">5 items</a>) in your cart (<a href="#">$45.80</a>)
                </div>
                -->
            </div>
        </div>
    </div>
</div>