title = "Contacto"
url = "/contacto"
layout = "default"
description = "Página de formulario de contacto"
is_hidden = 0

[contactform]
==
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Contacto</h2>
                    <span>Inicio / <a href="{{ '/contacto'|page }}">Conctacto</a></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row mt-5">
        <div class="product-item col-md-12">
            <div class="row">
                <div class="col-md-8">
                    
                        {% flash success %}    
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endflash %}    
                    
                    <div class="message-form">
                        <ul>
                            {% for error in erros.all() %}
                                <li>{{ error }}</li>
                            {% endfor %}    
                        </ul>
                    

                    </div>

                    {% component 'contactform' %}
                  
                </div>
            </div>
        </div>
    </div>
</div>