title = "Home"
url = "/"
layout = "default"
description = "Home Page"
meta_description = "Free restaurant theme by templatemo, converted for OctoberCMS"
is_hidden = 0
==
<!-- <div id="slider">
    {% partial "slider" %}
</div> -->
<div class="text-center orange mb-5">
    <h1>La victoria</h1>
    <img src="http://localhost:8080/OctoberTest/themes/jtherczeg-grill/assets/images/under-heading.png" alt="">
</div>
    
<div id="services">
     {% partial "services" %}
</div>
    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading-section">
                <h2>Lo que nuestros clientes dicen</h2>
                <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
            </div>
        </div>
    </div>
    	<div id="testimonails">
		    {% partial "testimonials" %}
	    </div>
</div>