title = "Nosotros"
url = "/nosotros"
layout = "about-us"
is_hidden = 0
==
<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Nosotros</h2>
                    <span>Inicio / <a href="{{ '/nosotros'|page }}">Nosotros</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="timeline-post">
    {% partial "about/intro" %}
</div>



<div id="testimonails">
    {% partial "about/feedback" %}
</div>