title = "Platillos"
url = "/platillos"
layout = "default"
description = "Platillos disponibles"
is_hidden = 0

[builderList platillos]
modelClass = "MiguelVillegas\Dishes\Models\Dish"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = platillos.records %}
{% set displayColumn = platillos.displayColumn %}
{% set noRecordsMessage = platillos.noRecordsMessage %}
{% set detailsPage = platillos.detailsPage %}
{% set detailsKeyColumn = platillos.detailsKeyColumn %}
{% set detailsUrlParameter = platillos.detailsUrlParameter %}


<div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2>Platillos</h2>
                    <span>Inicio / <a href="{{ '/platillos'|page }}">Platillos</a></span>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center orange">Platillos</h2>

<div class="row">
    {% for record in records %}
        <div class="text-center col-md-4 card">
            <img src="{{ record.image.path }}" width="100" class="img-circle"/> 
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                <h3 class="orange">{{ attribute(record, displayColumn) }}</h3>

                {% if detailsPage %}
                    </a>
                {% endif %}
                <div class="description">
                    {{ record.description|raw }} 
                </div>
            {% endspaceless %}

          
        </div>
    {% else %}
        <div class="no-data col-lg-12">{{ noRecordsMessage }}</div>
    {% endfor %}
    </div>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}