title = "Servicios"
url = "/servicios"
layout = "default"
is_hidden = 0

[builderList servicios]
modelClass = "MiguelVillegas\Services\Models\Service"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = servicios.records %}
{% set displayColumn = servicios.displayColumn %}
{% set noRecordsMessage = servicios.noRecordsMessage %}
{% set detailsPage = servicios.detailsPage %}
{% set detailsKeyColumn = servicios.detailsKeyColumn %}
{% set detailsUrlParameter = servicios.detailsUrlParameter %}

<div class="container">
<div class="row">
    {% for record in records %}

       <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <div class="icon">
                    <i class="{{ record.icon }}"></i>
                </div>
                    <h4>{{ record.name }}</h4>
                    <p>
                    {{ record.description }}
                    </p>
                </div>
            </div>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</div>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}

</div>