==
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Testimonios</h2>
                    <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
                </div>
            </div>
        </div>
    </div>
	{% partial "testimonials" %}