==
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Nosotros</h2>
                    <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
                </div>
            </div>
        </div>
                    
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Historia</h3>
                <p>Fundado desde el años 90, nuestra casa siempre ha contado con el estilo y sazón de casa. Todos nuestros clientes son parte de nuestra familia.</p>
                <p>
                    Nostros sabemos lo que el cliente gusta, nuestros años de experiencia nos respaldan, nuestra <strong>Calidad</strong> y <strong>Servicio</strong> nos distinguen. 
                </p>
            </div>
        </div>
                    
        <div class="space50"></div>
                    
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/timeline1.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Desayunos</h4></a>
                            <p>8:00 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/timeline2.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Almuerzos</h4></a>
                            <p>11:00 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/timeline3.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Almuerzos</h4></a>
                            <p>2:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/timeline4.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Cenas</h4></a>
                            <p>7:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/timeline5.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Cenas</h4></a>
                            <p>8:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="timeline-thumb">
                    <div class="thumb">
                        <img src="{{ 'assets/images/timeline6.jpg'|theme }}" alt="">
                    </div>
                    <div class="overlay">
                        <div class="timeline-caption">
                            <a href="#"><h4>Cenas</h4></a>
                            <p>9:00 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>